<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>EduIA Collège - Plateforme IA</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">


</head>

<body>



<!-- ACCUEIL -->
<section id="accueil" class="hero">
<h2>Apprendre autrement grâce à l'Intelligence Artificielle</h2>
<p>Plateforme de vidéos interactives pour les collèges au Sénégal</p>
<a href="#inscription" class="btn">Commencer</a>
</section>

<!-- FEATURES -->
<section class="features">
    <div class="card">
       <img src="../assets/RjwTr9zGKD5mQXOVtmrk_29_55c0584f35def74dbb52a904b6eec792_image.jpg"
             width="100%" style="border-radius:8px;">
        <h3>Apprentissage personnalisé</h3>
        <p>L'IA recommande des vidéos adaptées au niveau de chaque élève.</p>
    </div>

    <div class="card">
      <img src="../assets/video-ia.webp"
             width="90%" style="border-radius:8px;margin-left: 20px;">
        <h3>Vidéos interactives guidées par l'IA</h3>
        <p>Pause automatique avec quiz pour vérifier la compréhension.</p>
    </div>

    <div class="card">
      <img src="../assets/unnamed - 2026-02-14T113013.111.png"
             width="100%" style="border-radius:8px;">
        <h3>Suivi intelligent</h3>
        <p>Analyse des performances et statistiques détaillées.</p>
    </div>
</section>

<section class="section">
<h3>Vidéos interactives pour apprendre</h3>
<div class="videos">

<div class="video-card">
<img src="../assets/1.webp" >
<h5>Leçon de Mathématiques</h5>
</div>

<div class="video-card">
<img src="../assets/1727342590_group-african-kids-paying-attention-class_23-2148892516.webp" alt="">
<h5>Cours de Français</h5>
</div>

<div class="video-card">
<img src="../assets/étudiant-africain-focalisé-regardant-le-livre-de-participation-d-ordinateur-portable-faisant-la-recherche-jeune-femme-affaires-144185369.webp">
<h5>Histoire du Sénégal</h5>
</div>

</div>
</section>

<section class="dashboard">
<h4>🎓 Tableau de bord élève</h4>

<p>Progression en Mathématiques</p>
<div class="progress">
<div class="progress-bar"></div>
</div>

<p>Progression en Français</p>
<div class="progress">
<div class="progress-bar yellow"></div>
</div>

</section>

<footer>
© 2026 EDU-IA Collège | Projet Mémoire - Impact de l’IA sur l’enseignement
</footer>



</body>
</html>
